<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
        XG Dashboard Description L1
    </title>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        table.center {
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>


<body>
    <h1 style="text-align: center;">
        Home page
    </h1>

    <h3 style="text-align: center;">
        Objectif
    </h3>

    <p style="text-align:justify ;border:3px; border-style:solid; border-color:#00c3ff; padding: 1em;">
        L'objectif de ce site web est d'aider un parieur professionnel ou d&eacute;butant &agrave; &eacute;valuer le
        r&eacute;sultat d'un match de football fran&ccedil;ais, non pas en fonction des statistiques habituelles, mais
        en fonction de la r&eacute;ussite des &eacute;quipes, d&eacute;termin&eacute;e par une statistique recemment
        apparue : les "Expected Goals".
    </p>

    <h3 style="text-align: center;">
        Définition des 'Expected Goals'
    </h3>

    <p style="text-align:justify; border:3px; border-style:solid; border-color:#FF0000; padding: 1em;">
        Les &quot;Expected Goals&quot;, commun&eacute;ment abr&eacute;g&eacute; en 'XG', sont une donn&eacute;e
        permettant d'attribuer une valeur &agrave; chaque tir au but dans le football.
        Cette valeur est en fait une probabilit&eacute;, d&eacute;termin&eacute; par un mod&egrave;le se basant sur de
        tr&egrave;s nombreuses situations de jeux pr&eacute;alables.
        La probabilit&eacute; est d&eacute;termin&eacute; en fonction de la r&eacute;ussite des tirs.
        Plusieurs caract&eacute;ristiques sont pris en compte, comme la partie du corps utilis&eacute; pour le tir, la
        position, la situation de l'occasion de but.</p>

    <h3 style="text-align: center;">
        À quoi servent les 'Expected Goals' ?
    </h3>

    <p style="text-align:justify; border:3px; border-style:solid; border-color:rgba(0, 38, 255, 0.856); padding: 1em;">
        Ainsi, l'addition de chaque 'XG' au cours d'un match donne ainsi le nombre de but qu'une &eacute;quipe aurait pu
        ou du marquer au cours de celui-ci.
        De m&ecirc;me, les 'Expected Goals Against', ou 'XGA', d&eacute;terminent le nombre de but qu'une &eacute;quipe
        aurait du conc&eacute;der au cours du match.
        La finalit&eacute; de cette statistique est de savoir si une &eacute;quipe aurait du marquer, ou
        conc&eacute;d&eacute; plus ou moins de buts que ce n'a &eacute;t&eacute; le cas, afin de juger la
        r&eacute;ussite ou la performance d'une &eacute;quipe sur un match, et, plus globalement, sur la saison.<br />
    </p>

    <table class="center" style="text-align: center ; padding: 1em;">
        <tr>
            <td>
                <img src="/static/images_plot/description1.png" width="350px" height="500px" />
            </td>
            <td>
                <img src="/static/images_plot/description2.png" width='350px' height="500px" />
            </td>
        </tr>
    </table>

    <h2 style="text-align: center;">
        Menu d'accès aux autres pages
    </h2>

    <h3 style="text-align: center;">
        Calendrier, meilleur cote et indice de réussite
    </h3>

    <p>
        <u1>
            <li>
                <a href=calendrier> Accéder au Calendrier et Meilleures cote en cliquant ici. </a>
            </li>
        </u1>
    </p>

    <h3 style="text-align: center;">
        Graphique de comparaison
    </h3>

    <p>
        <u1>
            <li>
                <a href=graph> Accéder au Graphique de Comparaison en cliquant ici </a>
            </li>
        </u1>
    </p>

    <h3 style="text-align: center;">
        Accès au Classement
    </h3>

    <p>
        <u1>
            <li>
                <a href=classement> Accéder au Classement actuel en cliquant ici </a>
            </li>
        </u1>
    </p>

</body>

</html>